/*============== RESET ============== */

* {
    margin: 0;
    padding: 0;
    line-height: 1em;
}

/*============ ANIMATION ============ */
@keyframes startingAnim {
    from {
        scale: 5000%;
    }
    to {
        scale: 100%;
    }
}
@keyframes slideIn {
    0% {
        transform: translateY(-300px);
    }
    100% {

    }
}
@keyframes popUp {
    from {
      transform: translateX(-100%) translateY(100%);
  }
    to {}
}

/*========== GENERAL STYLES =========== */
body {
    background-color: #eaeaea;
}
.header {
    width: 79.16vw;
    box-shadow: 0 1px 0 #232323;
    border-bottom: 1px solid #232323;
    margin: auto;
    padding-top: 5.05vw;
    position: relative;
    margin-bottom: 20px;
}
.redberry-label {
    position: absolute;
    bottom: 5px;
    left: 0;
    display: inline-block;
}
.page-number {
    position: absolute;
    bottom: 5px;
    right: 0;
    font-size: 2vw;
    line-height: 2vw;
    display: inline-block;
}
.page-container {
    width: 79.16vw;
    display: flex;
    margin: 0 auto 100px auto;
    box-sizing: border-box;
}
.question-container {
    width: 43vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.question-container div label {
    font-weight: 500;
}
.input-container {
    max-width: 26.71vw;
    margin-top: 4.16vh;
}
.input-box {
    margin-top: 1vw;
    width: 26.71vw;
    height: 2.6vw;
    padding: 2px;
}
.arrow-forward {
    width: 0.9vw;
    min-width: 8px;
    position: absolute;
    right: -45%;
    bottom: -45px;
    opacity: 0.5;
    cursor: default;
}
.arrow-back {
    width: 0.9vw;
    min-width: 8px;
    position: absolute;
    right: -25%;
    bottom: -45px;
    opacity: 0.5;
    cursor: default;
}
.ilustration {
    position: relative;
}
.images {
    width: 35vw;
    padding: 2vw;
}
.second-page>.question-container input:checked ~ .radio-checkmark {
    background-color: rgba(0, 0, 0, 0.8);
}
.third-page>.question-container input:checked ~ .radio-checkmark {
    background-color: rgba(0, 0, 0, 0.8);
}
.fourth-page>.question-container input:checked ~ .radio-checkmark {
    background-color: rgba(0, 0, 0, 0.8);
}
/*
survey is initialy hidden and shown when start button is clicked
which simultaniously hides away landing page
*/
.survey-wraper {
    display: unset;
}

/*=========== LANDING PAGE  =========== */
.landing-page  {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.start-icon {
    animation: startingAnim 0.5s linear;
    width: 23.69vw;
    height: 25.74vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-icon img {
    width: 5.2vw;
}
.start-container {
    width: 25.93vw;
    height: 16.57vh;
    overflow: hidden;
}
.start-button {
    width: 25.93vw;
    height: 16.57vh;
    font-size: 1.56vw;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-align: center;
    animation: slideIn 1.2s linear;
    background-color: #eaeaea;
    border: none;
    box-shadow: none;
}
.start-button:hover {
    text-shadow: 3px 0px 0 grey, 0 2px 0 grey;
    cursor: pointer;
}



/*============ FIRST PAGE =========== */


.first-page-note {

}
.overline {
    display: inline-block;
    width: 12.34vw;
    height: 1px;
    background-color: #232323;
    margin-top: 7.18vh;
    margin-bottom: 1.8vh;
}
.note {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.83vw;
}
.eye-cover {
    width: 32.39vw;
    height: 4vw;
    position: absolute;
    top: 11vw;
    left: 7.34vw;
    overflow: hidden;
    z-index: -1;
}
.cover {
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #D6D16E;
    animation: popUp 0.5s linear;
}

/*============ SECOND PAGE =========== */
.second-page {
    display: none;
}
.radio-container {
  width: 32.29vw;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.radio-container {
  display: block;
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.4vw;
}
.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.8rem;
  width: 0.8rem;
  padding: 0.04rem;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid grey;
}  
.temperature-cover {
    width: 11.92vw;
    height: 11.92vw;
    border-radius: 50%;
    background-color: #DD3939;
    position: absolute;
    z-index: -1;
    top: 12vw;
    left: 4vw;
}



/*============ THIRD PAGE =========== */
.third-page {
    display: none;
}
.needle-cover {
    width: 15vw;
    position: absolute;
    z-index: -1;
    left: 2.5vw;
    top: -1.6vw;
}
.optional-pcrLevel {
    display: none;
}
#optional-pcrFirstOnly {
    display: none;
    font-size: 1.4vw;
    line-height: 1.4vw;
    position: absolute;
    bottom: -10vw;
    left: 4vw; 
}

/*============ FOURTH PAGE =========== */
.fourth-page {
    display: none;
}
.quote {
    width: 97%;
    resize: none;
    background-color: #eaeaea;
    overflow: auto;
    outline: none;
    border: 1px solid black;
    min-height: 9.58vh;
}
.fourth-page-form {
    position: relative;
    padding-bottom: 6vw;
}
.office-cover {
    position: absolute;
    z-index: -1;
    width: 9vw;
    top: 5.4vw;
    left: 7vw;
}
.the-end {
    width: 10vw;
    height: 2.9vw;
    background-color: #208298;
    border-radius: 5vw;
    position: absolute;
    bottom: 1vw;
    right: 0.3vw;
}

/*============ FIN =========== */

.fin {
    background-color: #232323;
    height: 50vh;
    display: none;
    align-items: center;
    justify-content: center;
}
.finito {
    color: white;
    font-weight: bold;
    font-size: 3.3vw;
    position: relative;
    letter-spacing: 0.7vw;
}
.big-star {
    width: 2.7vw;
    position: absolute;
    top: -3.2vw;
    left: 2vw;
}
.small-star {
    width: 1.7vw;
    position: absolute;
    right: 2vw;
    bottom: -2vw;
}